@charset "UTF-8";

body, html {
    background-color: #a8c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    transform: rotate(90deg);
    position: fixed;
    font-size: 6vh;
    display: flex;
    text-shadow: 2px 2px 0px rgb(117, 95, 139);
    
}
