@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body, html {
    background-color: #547c72;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 3vw;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

iframe {
    width: 100vh;
    height: 100vh;
}