@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

.body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(99, 99, 99);
}

.main {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 60vw 1fr;
    grid-template-columns: 20vw 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    height: 100%;

}

.header {
    background-color: blanchedalmond;
    grid-area: header;

}

.sidebar {
    background-color: lightblue;
    grid-area: sidebar;
}

.content {
    background-color: rgb(227, 176, 176);
    grid-area: content;
}

.footer {
    background-color: rgb(196, 167, 222);
    grid-area: footer;
    
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
}