@charset "UTF-8";

body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}

h1{
    text-align: center;
    color: rosybrown;
}

p{
    text-align: justify;
}
h2{
    color: rgb(90, 148, 137);
}