@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    speak-as:    
}

body {
    background-image: linear-gradient(to left, #D9FC9D, #9D71AA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #5f4567; 
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color: #645B82;
    font-size: 40px;
    text-align: center;
    margin-top: auto;
}

h2{
    color: #65A168;
}

h3{
    color: #65A168;
}
p{
    font-size: 15px;
    text-align: justify;
}